// Fonts
// ---------------------------------------
//

@font-face {
  font-family: 'work_sansregular';
  src: url('../fonts/worksans-regular-webfont.eot');
  src: url('../fonts/worksans-regular-webfont.eot?#iefix') format("embedded-opentype"),
       url('../fonts/worksans-regular-webfont.woff') format('woff'),
       url('../fonts/worksans-regular-webfont.ttf') format('truetype'),
       url('../fonts/worksans-regular-webfont.svg#f310d4dccd89e059e79d3b6deebb4725') format('svg');
  font-style: normal;
  font-weight: 400;
}

$work: 'work_sansregular', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;

ul.fancy {
  // column-count: 2;

  li {
    padding: 0 25% 0.5rem 2rem;
    background: url(../images/asterisk-01.svg) no-repeat 0 4px;

    &:nth-child(even) {
      background: url(../images/asterisk-01.svg) no-repeat 0 4px;
    }

    &:nth-child(odd) {
      background: url(../images/asterisk-02.svg) no-repeat 0 4px;
    }
  }
}
