#kashti {
  padding-top: 14rem;
  padding-bottom: 15rem;
  min-height: 800px;
  position: relative;
  background: url('../images/pipes-pattern-04.png') no-repeat center -104px;
  background-size: 2140px;

  .row {
    overflow: visible;
  }

  .columns {
    position: relative;
    z-index: 500;
  }

  .button {
    margin-right: 1rem;
  }

  .uipic {
    margin-top: -30px;
    margin-left: 22px;
  }

  img.uipipes {
    position: relative;
    z-index: 400;
  }

  &:after {
    display: block;
    content: " ";
    background: $light;
    width: 80%;
    min-height: 235px;
    position: absolute;
    left: 10%;
    top: 13rem;
    z-index: 100;
  }

  img.uipipes {
    position: absolute;
    min-width: auto;
    width: 2140px;
    max-width: 2140px;
    left: 50%;
    margin-left: -1070px;
    top: 0;
    z-index: -2;
  }
}
