#kashti {
  padding-top: 12rem;
  padding-bottom: 12rem;
  min-height: 600px;
  position: relative;

  .columns {
    position: relative;
    z-index: 500;
  }

  .button {
    margin-right: 1rem;
  }

  img.uipipes {
    position: relative;
    z-index: 400;
  }

  &:after {
    display: block;
    content: " ";
    background: $light;
    width: 80%;
    min-height: 250px;
    position: absolute;
    left: 10%;
    top: 10.2rem;
    z-index: 100;
  }

  img.uipipes {
    position: absolute;
    min-width: 900px;
    width: 900px;
    left: 50%;
    margin-left: -450px;
    top: -200px;
    z-index: -2;
  }
}