// Import Dependencies (package.json)
// ---------------------------------------
//

@import "../../node_modules/foundation-sites/scss/normalize.scss";
@import "../../node_modules/foundation-sites/scss/foundation.scss";
@import "../../node_modules/motion-ui/src/motion-ui.scss";


// Import Brigade Styles
// ---------------------------------------
//
@import "brigade-settings.scss";
@import "brigade-type.scss";
//
// Sections
@import "brigade-landing.scss";
@import "brigade-code.scss";
@import "brigade-kubernetes.scss";
@import "brigade-kashti.scss";
//
@import "brigade-media.scss";


// Core Layout
// ---------------------------------------
//

body {
  background: $light;
  font-family: $work;
  color: $mid;
  font-size: 16px;
  overflow-x: hidden;
  background: white;
}

h1, h2, h3 {
  font-family: $work;
}

p,
li,
small {
  a {
    color: $bluem;
    position: relative;
    @include transition;

    &:after {
      width: 10%;
      height: 3px;
      position: absolute;
      bottom: -2px;
      left: 50%;
      display: block;
      content: " ";
      background: $bluem;
      opacity: 0;
      @include transition;
    }

    &:hover:after {
      width: 100%;
      left: 0;
      opacity: 1;
    }
  }
}

.vertical-center {
  @include vertical-align;
}

#topbar {
  position: absolute;
  width: 100%;
  height: 106px;
  z-index: 900;
  top: 0;
  left: 0;
  padding: 0.5em 0;
  background: rgba(255,255,255,0);
  @include transition;

  &:hover {
    background: rgba(255,255,255,0.7);
  }

  h1.logo {
    line-height: 1;
    color: $blued;
    margin-left: -0.25rem;
    margin-top: 0.75rem;
    max-width: 150px;
  }

  ul {
    padding: 0;
    margin-top: 2.1rem;
    float: right;
    text-align: right;

    li {
      float: none;
      display: inline-block;

      a {
        padding: 0.75em 0 0;
        margin-left: 2.25em;
        color: darken($blued, 10%);
      }
    }
  }
}

.row {
  max-width: 72.5rem;
}

.button {
  margin: 1em auto;
  background: $bluem;
  font-family: $work;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.02em;
  padding: 1.333rem 2.825rem;
  color: white;
  border-radius: 5em;
  border: none;
  @include transition;
  @include box-shadow(0,2px,14px,rgba(0,0,0,0.02));

  &:hover {
    background: darken($bluem, 12.5%);
    color: white;
    opacity: 0.95;
  }
}

.content {
  h1 {

  }

  h2 {
    color: $bluem;
    font-size: 2rem;
    margin-bottom: 0.5em;
    font-family: $work;
  }

  h4 {
    color: $mid;
    font-family: $work;
    font-size: 1rem;
  }

  p,
  li {
    font-size: 1rem;
    line-height: 1.7;
    padding-right: 5%;
    color: darken($mid, 10%);
  }

  .center {
    text-align: center;
  }

  img {
    min-width: 90%;
    height: auto;
    margin-right: -5%;
  }

  code,
  pre {
    background: darken($light, 2.5%);
    color: $mid;
    border: none;
    outline: none;
    font-size: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.25em;
    letter-spacing: 0.05em;
  }

  pre {
    // padding: 0.5em;
  }

  ul {
    padding: 1em 0;

    li {
      margin-bottom: 1em;
      padding-right: 1.75em;
      list-style-type: none;
      position: relative;
    }
  }
}

.feature-main,
.feature-complexity,
.feature-language {
  min-height: 600px;
  display: block;
  position: relative;
  padding-top: 8.5rem;
  padding-bottom: 6.5rem;

  h3 {
    color: darken($bluem, 10%);
    font-size: 2.75rem;
    letter-spacing: 0.02em;
    margin: 0 0 1.25rem;
    line-height: 1.15;
  }
}

.feature-complexity {
  background: linear-gradient(30deg, #ffffff 0%, #E5EBEC 100%);
}

.feature-language {
  background: linear-gradient(160deg, #2693B4 0%, #00B4EB 100%);
  color: white;

  img {
    margin: 3rem 0 0 0;
  }

  h3,
  p {
    color: white;

    a {
      color: white;
      border-bottom: 2px dashed rgba(255,255,255,0.4);
    }
  }
}

footer {
  background: -webkit-linear-gradient(110deg, white 20%, #f0f0f0);
  background: -o-linear-gradient(110deg, white 20%, #f0f0f0);
  background: -moz-linear-gradient(110deg, white 20%, #f0f0f0);
  background: linear-gradient(110deg, white 20%, #f0f0f0);
  color: $mid;
  padding: 5em 0 2em;

  img {
    margin: -1rem 0 1.75rem;
  }

  ul {
    list-style: none;
    margin-top: 4rem;

    a {
      padding: 0.25em 0 0;
      line-height: 1.5;
      margin-bottom: 0.25rem;
      display: inline-block;
    }
  }

  p {
    line-height: 1.825;
    max-width: 420px;
  }

  .project-family {
    padding-top: 3.25rem;
    text-align: right;
    position: relative;
    z-index: 999;

    .project-label {
      background-color: white;
      padding: 0.5rem 1.75rem;
      text-align: right;
      display: inline-block;
      border: 1px solid #f0f0f0;
      box-shadow: 0 4px 12px 1px rgba(0,0,0,0.02);
      font-size: 0.825rem;
      border-radius: 3em;
      position: absolute;
      top: -1.5rem;
      right: 0rem;
      min-width: 12rem;
      z-index: 820;

      span {
        line-height: 1.5;
      }

      em {
        position: absolute;
        bottom: -6px;
        width: 12px;
        height: 12px;
        background: white;
        transform: rotate(45deg);
        border-right: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
        right: 38px;
        z-index: 110;

        &:after {
          content: " ";
          display: block;
          position: absolute;
          bottom: -25px;
          right: -10px;
          height: 30px;
          width: 1px;
          border-left: 1px dashed darken($bluel, 10%);
          z-index: 100;
          transform: rotate(-45deg);
        }
      }
    }

    a {
      width: 96px;
      height: 96px;
      display: inline-block;
      border-radius: 50%;
      text-align: center;
      margin: 0 0 0 1.5rem;
      background-color: white;
      border: 1px solid #f0f0f0;
      box-shadow: 0 4px 12px 1px rgba(0,0,0,0.02);
      z-index: 1150;
      @include transition;

      // draft
      &.draft {
        img {
          margin-top: 4px;
        }

        &:hover {
          .project-label {
            z-index: 1150;

            em {
              right: 280px;
            }
          }

          & ~ .brigade {
            .project-label {
              opacity: 0;
              margin-top: -2rem;
            }
          }
        }
      }

      // helm
      &.helm {
        img {
          margin-top: -1px;
        }

        &:hover {
          .project-label {
            z-index: 1150;

            em {
              right: 160px;
            }
          }
        }

        &:hover ~ .brigade {
          .project-label {
            opacity: 0;
            margin-top: -2rem;
          }
        }
      }

      // brigade
      &.brigade {
        img {
          margin-top: 0px;
          margin-right: -1px;
          z-index: 1020;
        }

        .project-label {
          z-index: 1150 !important;
        }
      }

      img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

      &:hover {
        border-color: $bluem;
      }
    }

    &:after {
      content: " ";
      display: block;
      position: absolute;
      right: 1em;
      bottom: 48px;
      height: 1px;
      width: 55%;
      border-top: 1px dashed darken($bluel, 10%);
      z-index: -1;
    }
  }
}
